@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
  --mgs-color: #f6f6fc;
  --main-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-size: 62.5%;
  line-height: 1.6rem;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}
p {
  font-size: 1.2rem;
}
